.container {
  padding: 20px;
  border: 1px solid royalblue;
  border-radius: 10px;
  align-items: center;
  background-color: rgb(0, 0, 0);

}

.about-img {
  float: left;
  margin-right: 20px;
}

.about-img img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(51, 62, 212, 0.911);
  position: relative;
  top: 3rem;
  margin-left: 7rem;

}

.lead {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 5px;
  padding: 20px;
  width: 60rem;
  position: relative;
  left: 5px;
}

.AboutContainer {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: -30px;

  h2 {
    position: absolute;
    font-size: 2rem;
    margin-bottom: -3rem;
    margin-left: 38rem;


  }

  h4 {
    margin-left: 35rem;
    color:  white;
    margin-top: -1rem;
    margin-left: 10rem;
  }

}


.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.learn {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.title-s {
  font-size: 24px;
  font-weight: bold;
  color: royalblue;

}

.about-me p {
  font-size: 1.1rem;
  line-height: 1.6;
  color:white;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: 25px;
  text-align: left;


}


.container .about-info p {
  margin: 10px 0;
  text-align: left;
  margin-bottom: 10px;

}

.progress-bar {
  background-color: royalblue;
  height: 1.2rem;
  bottom: 14rem;
}

.progress {
  background-color:white;
}

.skill-mf span {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
  color: royalblue
}

.skill-mf {
  position: relative;
  left: 5rem;
  width: 40rem;
  margin-left: 20rem;
  bottom: 4rem;
}

.skill-title {
  position: relative;
  right: 20rem;
  top: 1.3rem;
}

.pull-right {
  position: relative;
  left: 18rem;
  top: 1.5rem;
}
@media screen and (max-width: 768px) {
  .about-img {
    float: none;
    margin-right: 0;
    margin-left: auto;
  }
  .skill-mf{
    text-align: left;
}
  .about-img img {
    width: 150px;
    height: 150px;
    margin-left: -150px;
    margin-right: auto;
    display: left;
  }

  .AboutContainer h2,
  .AboutContainer h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .lead {
    width: auto;
    margin: 0 auto;
    top: 47px;
  }

  .skill-mf {
    position: relative;
    left: auto;
    width: auto;
    margin: 0 auto;
    bottom: 0;
  }

  .skill-title {
    position: relative;
    right: auto;
    top: auto;
  }

  .pull-right {
    position: relative;
    left: auto;
    top: auto;
  }
}
.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top-button:hover {
  background-color: #0056b3;
}

.svgIcon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}
